@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 179, 0;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.xterm {
  height: 100%;
  padding: 1rem;
}

.xterm-viewport {
  overflow-y: auto !important;
} 